@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    margin: 0;
    box-sizing: border-box;
    margin-top: 50px;
    background-color: #ffffff;
    font-family: 'Nunito', sans-serif;
  }
  button {
    padding: 10px;
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    cursor: pointer;

  }
  button.euro-millions-btn {
    background-color: #ffd900;
    color: #09008d;
    border: solid 1px #09008d;
  }
